@import '../../css/functions';
@import '../../css/colors';

header{
  min-height: 420px;
  background-size: cover!important;
  .jumbotron{
    margin-top: 20px;
    background: transparent;
    h1, p{
      color: white;
    }
  }
}
